<?xml version="1.0"?>
<config>
    <modules>
        <Webgriffe_OpenGraph>
            <version>1.0.0</version>
        </Webgriffe_OpenGraph>
    </modules>
    <global>
        <models>
            <Webgriffe_OpenGraph>
                <class>Webgriffe_OpenGraph_Model</class>
                <resourceModel>Webgriffe_OpenGraph_resource</resourceModel>
            </Webgriffe_OpenGraph>
            <Webgriffe_OpenGraph_resource>
                <class>Webgriffe_OpenGraph_Model_Resource</class>
            </Webgriffe_OpenGraph_resource>
        </models>
        <blocks>
            <Webgriffe_OpenGraph>
                <class>Webgriffe_OpenGraph_Block</class>
            </Webgriffe_OpenGraph>
        </blocks>
        <helpers>
            <Webgriffe_OpenGraph>
                <class>Webgriffe_OpenGraph_Helper</class>
            </Webgriffe_OpenGraph>
        </helpers>
        <resources>
            <Webgriffe_OpenGraph_setup>
                <setup>
                    <module>Webgriffe_OpenGraph</module>
                </setup>
            </Webgriffe_OpenGraph_setup>
        </resources>
    </global>
</config>
