<?xml version="1.0"?>
<config>
    <modules>
        <Webgriffe_OpenGraph>
            <version>1.0.0</version>
        </Webgriffe_OpenGraph>
    </modules>
    <global>
        <models>
            <webgriffe_opengraph>
                <class>Webgriffe_OpenGraph_Model</class>
                <resourceModel>webgriffe_opengraph_resource</resourceModel>
            </webgriffe_opengraph>
            <webgriffe_opengraph_resource>
                <class>Webgriffe_OpenGraph_Model_Resource</class>
            </webgriffe_opengraph_resource>
        </models>
        <blocks>
            <webgriffe_opengraph>
                <class>Webgriffe_OpenGraph_Block</class>
            </webgriffe_opengraph>
        </blocks>
        <helpers>
            <webgriffe_opengraph>
                <class>Webgriffe_OpenGraph_Helper</class>
            </webgriffe_opengraph>
        </helpers>
        <resources>
            <webgriffe_opengraph_setup>
                <setup>
                    <module>Webgriffe_OpenGraph</module>
                </setup>
            </webgriffe_opengraph_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <webgriffe_opengraph>
                    <file>webgriffe_opengraph.xml</file>
                </webgriffe_opengraph>
            </updates>
        </layout>
    </frontend>
</config>
