<?xml version="1.0"?>
<config>
    <sections>
        <webgriffe_opengraph translate="label" module="webgriffe_opengraph">
            <class>separator-top</class>
            <label>Open graph</label>
            <tab>webgriffe</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="webgriffe_opengraph">
                    <label>General settings</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <site_id translate="label">
                            <label>Application ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<a href="http://developers.facebook.com/setup/" target="_blank">Register here</a>]]></comment>
                        </site_id>
                        <admin_id translate="label">
                            <label>Admin ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </admin_id>
                    </fields>
                </general>
            </groups>
        </webgriffe_opengraph>
    </sections>
</config>
